.banner {
  display: flex;
  background: #144178;
  position: relative;
  z-index: 1;
  font-weight: bold;
  align-items: center;
  padding: 16px 0 0;
  color: #ffffff;
  .info {
    margin: 0 16px 0;
  }
}
